<nav>
    <div class="site-tittle">
        
        <a href="/"><h1>Frankiee</h1></a>
        <p>Frank Ocean</p>
    </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/services">Our service</a></li>

        </ul>
</nav>
