<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="create-blog content">
        <form>
                <label for="title">frank ocean title:</label>
                <input type="text" id="title" required>
                <label  for="snippet">Frank Ocean snippet:</label>
                <input type="text" id="snippet" required>
                <label>Frank Ocean body:</label>
                <textarea id="body" required></textarea>
                <button type="submit">Create</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>