<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">
        <p>
            Qualiserve IT is the arm of Qualiserve Group focused on the provisioning of Information Technology Services. <br>We provide cutting edge expertise in: Structured Cabling & Systems Networking; Hardware & Software Supplies & Integration; <br> IT Support & Maintenance; IT Personnel Outsourcing; Servers, Storage, Data Recovery & Data Management and several other IT Solutions.
        </p>
    <b>Service Details:</b>
<h3>&#x2022; Structured Cabling (LAN) and Systems Networking</h3>
<h3>&#x2022; Hardware & Software Supplies & Integration</h3>
<h3>&#x2022; IT Support & Maintenance Services</h3>
<h3>&#x2022; IT Personnel Outsourcing</h3>
 
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>